<a href="https://colab.research.google.com/github/Romi2222/CSC576/blob/main/W1H1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Basic Arithmetic Operations
a = 10
b = 5
sum = a+b
difference = a-b
product = a*b
division = a/b
print("Sum: ", sum)
print("Difference: ", difference)
print("Product: ", product)
print("Division: ", division)

Sum:  15
Difference:  5
Product:  50
Division:  2.0

In [2]:
print(f"The Sum of the Two Numbers {a}, {b} is {sum}")

The Sum of the Two Numbers 10, 5 is 15

In [5]:
x = 13//2
print(x)
y = 13%2
print(y)

6
1

In [2]:
# Boolean variables and Comparisons
x = 10
y = 5

is_greater = x>y
is_equal = x==y
is_not_equal = x!=y

print("Is x greater than y?", is_greater)
print("Is x equal y?", is_equal)
print("Is x not equal to y?", is_not_equal)

Is x greater than y? True
Is x equal y? False
Is x not equal to y? True

In [4]:
# Variable Assignment
name = "Romi"
age = 23
is_student = True
print(f"{name}'s age is {age}. He is a Student is {is_student}")

Romi's age is 23. He is a Student is True

In [8]:
# Defining and Using a Function
def greet(name):
  return "Hello" + name + "!"

my_name = input("Enter your name:")
greet(my_name)

Enter your name:Romi

'HelloRomi!'

In [9]:
def add_numbers(a,b):
  return a+b

a = eval(input("Enter first number:"))
b = eval(input("Enter second number:"))

addition_value = add_numbers(a,b)
print(f"The result of addition {a},{b} is {addition_value}")

Enter first number:-4.5
Enter second number:10
The result of addition -4.5,10 is 5.5

In [12]:
# Working with Strings
message = "Hello, World"
length = len(message)
uppercase = message.upper()
lowercase = message.lower()
substring = message[7:12]

print("Original Message:", message)
print("The Length is:", length)
print("Upper Case:", uppercase)
print("Lower Case:", lowercase)
print("Part of the Message is:",substring)

Original Message: Hello, World
The Length is: 12
Upper Case: HELLO, WORLD
Lower Case: hello, world
Part of the Message is: World

In [15]:
# Basic Input Example
Last = input("Enter the last name:")
First = input("Enter the first name:")

print(f"{Last}, {First}")

Enter the last name:Patel
Enter the first name:Romi
Patel, Romi

In [16]:
# Numeric Input Example
age = int(input("Enter your age:"))
print("You will be", age + 1, "years old next year.")

Enter your age:23
You will be 24 years old next year.

In [17]:
# Calculation with Input
num1 = float(input("Enter the first number:"))
num2 = float(input("Enter the second number:"))
sum_result = num1 + num2
print("Sum:", sum_result)

Enter the first number:12
Enter the second number:14
Sum: 26.0

In [18]:
# String Concatenation with Input
city = input("Enter your city:")
country = input("Enter your country:")
location = city + ", " + country
print("You are in:", location)

Enter your city:Orange
Enter your country:USA
You are in: Orange, USA

In [19]:
# Multiple Inputs
name,age = input("Enter your name and age seperated by space:").split()
print(f"My name is {name} and my age is {age}")

Enter your name and age seperated by space:Romi 23
My name is Romi and my age is 23